{%- assign _post = include.post -%}
{%- assign _post_tags_encoded = '' -%}
{%- for tag in _post.tags -%}
  {%- assign _tag_encode = tag | strip | url_encode -%}
  {%- if forloop.last -%}
    {%- assign _post_tags_encoded = _post_tags_encoded | append: _tag_encode -%}
  {%- else -%}
    {%- assign _post_tags_encoded = _post_tags_encoded | append: _tag_encode | append: ',' -%}
  {%- endif -%}
{%- endfor -%}
<a class="recent-post-card" href="{{ _post.url | relative_url }}" data-tags="{{ _post_tags_encoded }}">
  <div class="recent-post-card__image">
    <div class="recent-post-card__image-bg"{% if _post.cover %}{%- include snippets/get-nav-url.html path=_post.cover -%} style="background-image: url('{{ __return }}');"{% endif %}></div>
    <div class="recent-post-card__overlay">
      {%- if _post.tags -%}
        <div class="recent-post-card__tags">
          {%- for tag in _post.tags -%}
            <span class="recent-post-card__tag">{{ tag }}</span>
          {%- endfor -%}
        </div>
      {%- endif -%}
      <h3 class="recent-post-card__title">{{ _post.title }}</h3>
      <div class="recent-post-card__meta">
        {%- include snippets/get-locale-string.html key='ARTICLE_LIST_DATE_FORMAT' -%}
        <i class="far fa-calendar-alt"></i> {{ _post.date | date: __return }}
        <span class="recent-post-card__meta-sep">·</span>
        {%- include snippets/reading-time.html article=_post -%}
        <i class="far fa-clock"></i> {{ __return }} min de lecture
      </div>
    </div>
  </div>
</a>
