{%- assign _post = include.post -%}
<a class="recent-post-card" href="{{ _post.url | relative_url }}">
  <div class="recent-post-card__image">
    <div class="recent-post-card__image-bg"{% if _post.cover %}{%- include snippets/get-nav-url.html path=_post.cover -%} style="background-image: url('{{ __return }}');"{% endif %}></div>
    <div class="recent-post-card__overlay">
      {%- if _post.tags -%}
        <div class="recent-post-card__tags">
          {%- for tag in _post.tags -%}
            <span class="recent-post-card__tag">{{ tag }}</span>
          {%- endfor -%}
        </div>
      {%- endif -%}
      <h3 class="recent-post-card__title">{{ _post.title }}</h3>
      <div class="recent-post-card__meta">
        {%- include snippets/get-locale-string.html key='ARTICLE_LIST_DATE_FORMAT' -%}
        <i class="far fa-calendar-alt"></i> {{ _post.date | date: __return }}
        <span class="recent-post-card__meta-sep">·</span>
        {%- include snippets/reading-time.html article=_post -%}
        <i class="far fa-clock"></i> {{ __return }} min de lecture
      </div>
    </div>
  </div>
</a>
